@import "tailwindcss";

@theme {
	--font-sans:
		"Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--text-color: #171717;
	--color-foreground: var(--color-foreground);
	--color-background: var(--color-background);

	--text-color: #171717;
	--color-background: white;
	--color-foreground: white;
	/* h1 */
	--color-title: white;
	/* container */
	--color-container: white;
	/* Header, sideNav */
	/* maybe color-200? */
	--color-navContainer: white;

	/* active/ inactive buttons */
	--color-activeButton: black;
	--color-activeText: white;
	--color-inactiveText: black;
}

[data-theme="neutral"] {
	--text-color: #171717;
	--color-background: var(--color-neutral-500);
	--color-foreground: white;
	/* h1 */
	/* --color-title: var(--color-neutral-200); */
	--color-title: white;
	/* container */
	--color-container: var(--color-neutral-100);
	/* Header, sideNav */
	/* maybe color-200? */
	--color-navContainer: var(--color-neutral-300);

	/* active/ inactive buttons */
	--color-activeButton: var(--color-neutral-600);
	--color-activeText: white;
	--color-inactiveText: black;
}

[data-theme="sleek"] {
	--text-color: #171717;
	--color-background: white;
	--color-foreground: var(--color-neutral-100);
	--color-divider: var(--color-neutral-200);
	/* h1 */
	--color-title: var(--color-neutral-100);
	/* container */
	--color-container: white;
	/* Header, sideNav */
	/* maybe color-200? */
	--color-navContainer: white;

	/* active/ inactive buttons */
	--color-activeButton: white;
	--color-activeText: var(--color-neutral-400);
	--color-inactiveText: black;
}

[data-theme="stone"] {
	--text-color: #171717;
	--color-background: var(--color-stone-500);
	--color-foreground: white;
	--color-divider: var(--color-navContainer);
	/* h1 */
	/* --color-title: var(--color-stone-200); */
	--color-title: white;
	/* container */
	--color-container: var(--color-stone-100);
	/* Header, sideNav */
	/* maybe color-200? */
	--color-navContainer: var(--color-stone-300);

	/* active/ inactive buttons */
	--color-activeButton: var(--color-stone-600);
	--color-activeText: white;
	--color-inactiveText: black;
}

[data-theme="blue"] {
	--font-sans:
		"Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--text-color: #171717;
	--color-foreground: var(--color-blue-300);
	--color-background: var(--color-blue-100);
	--color-divider: var(--color-navContainer);
	/* h1, container */
	--color-container: var(--color-white);

	/* Header, sideNav */
	--color-navContainer: var(--color-blue-300);

	/* active/ inactive buttons */
	--color-activeButton: var(--color-white);
	--color-activeText: black;
	--color-inactiveText: white;

	--color-color1: var(--color-blue-50);
	--color-color7: var(--color-stone-700);
	--color-color8: var(--color-stone-800);
	--color-color9: var(--color-blue-900);
	--color-color10: var(--color-blue-950);
}

:root {
}

@layer base {
	h1 {
		display: flex;
		justify-content: center;
		justify-self: center;
		font-size: x-large;
		background: var(--color-title);
		padding: 10px;
		margin: 10px;
		border-radius: var(--radius-md);
		width: 95%;
	}
	h2 {
		display: flex;
		font-size: large;
		padding-block: 15px;
		padding-inline: 10px;
	}
	h3 {
		font-size: medium;
	}
	h4 {
		padding: 5px;
	}
	p {
		padding: 10px;
	}
	ul {
		list-style-type: disc;
		padding-left: 30px !important;
	}
	a {
		color: var(--color-inactiveText);
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 10px;
		padding-right: 10px;
		border-radius: var(--radius-md);
		margin: 5px;
	}
	a.active {
		color: var(--color-activeText);
		background-color: var(--color-activeButton);
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 10px;
		padding-right: 10px;
		border-radius: var(--radius-md);
	}
	hr {
		color: var(--color-divider);
	}
	button {
		@apply flex items-center justify-center h-9 rounded-md p-5 m-5 whitespace-nowrap transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border bg-white hover:bg-activeButton hover:text-white cursor-pointer;
	}
	input[type="text"] {
		@apply border border-activeButton rounded-md;
		margin-inline: 10px;
		background-color: white;
	}
	input[type="time"] {
		@apply border border-activeButton rounded-md;
		margin-inline: 10px;
		background-color: white;
	}
	input[type="checkbox"] {
		@apply border border-activeButton rounded-md;
		margin-inline-end: 10px;
	}
}

@layer components {
	.nav-container {
		justify-content: space-between;
		width: 100%;
		margin-bottom: 10px;
		background: var(--color-navContainer);
	}

	.container {
		@apply rounded-md py-2 px-5 m-5;
		background: var(--color-container);
		justify-self: center;
	}

	.calculator {
		width: 100%;
		height: 70vh;
	}

	.tooltip-container {
		width: 425px;
		min-height: 200px;
		padding: 15px;
		font-size: 25px;
		background: red;
		box-shadow: 0 30px 90px -20px rgba(0, 0, 0, 0.3);
		position: absolute;
		z-index: 100;
		display: none;
		opacity: 0;
	}
	.fade-in {
		animation: fade 0.2s linear forwards;
	}
	@keyframes fade {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	.box {
		display: none;
		width: 100%;
	}

	a:hover + .box,
	.box:hover {
		display: block;
		position: relative;
		z-index: 100;
	}
}

body {
	color: var(--text-color);
	background: var(--color-background);
	font-family: Arial, Helvetica, sans-serif;
}

html {
	overflow-y: scroll;
}

.leaflet-container {
	height: 40vh;
}

/* #map {
  height: 180px;
} */
